*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
*wsgi.py
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
env
lib64
__pycache__

# Installer logs
pip-log.txt
*.log

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
local.py
db.sqlite3
.idea
.ipynb*

# Cordova gen'd files
android/bin/
android/gen/
android/assets/
platforms/android/ant-build
mobileapp/bikeapp/platforms
