body {
    /*background-color: #efefef;
    margin-top: 60px;*/
}

span.label a {color:#fff; text-decoration: none;}

.reg-form {
    background: #fff;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px black;
}

span.label {letter-spacing:1px;font-size:11px}