body {
    /*background-color: #efefef;
    margin-top: 60px;*/
}

.navbar-collapse {
    background-color: #4ea1b4;
}

span.label a {color:#fff; text-decoration: none;}

.reg-form {
    background: #fff;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px black;
}

span.label {letter-spacing:1px;font-size:11px}

.btn-primary, .btn-primary:hover, .btn-primary:active {
    background-color: #e05a31;
    border-color: #d0b0b5;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e05a31;
}