body {
    /*background-color: #efefef;
    margin-top: 60px;*/
}

.navbar-collapse {
    background-color: #4ea1b4;
}

span.label a {color:#fff; text-decoration: none;}

.reg-form {
    background: #fff;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px black;
}

span.label {letter-spacing:1px;font-size:11px}

.btn-primary, .btn-primary:hover, .btn-primary:active {
    background-color: #e05a31;
    border-color: #d0b0b5;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e05a31;
}

.statbox {
    float:left;
    border:1px solid #ddd;
    width: 150px;
    text-align: center;
    margin-right: 30px;
}
.statbox b{
    font-size: 16px;
    line-height: 20px;
    display:block;
    margin: 10px auto 6px auto;
}
.statbox p{
    font-size: 22px;
}

.freqbar{
    width:10px;
    background-color: #4ea1b4;
    vertical-align: bottom;
    margin-right:2px;
}

.table-striped-column > tbody > tr td:nth-of-type(2n+0) {
  background-color: #f9f9f9;
}

.amSession1{
}

.amSession2{
background-color: #f9f9f9;
}

.pmSession1{

}

.pmSession2{
background-color: #f9f9f9;
}