{% extends '_base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block style_head %}body {background-color:#efefef; margin-top:60px}{% endblock %}
{% block content %}

<div class="row">
<div class="col-md-4 col-md-offset-4 drop-shadow-c">
<form action="" method="post" id="login-form" class="form reg-form">
  {% csrf_token %}
  <p class="lead">
    Log in to Bike Counter
  </p>
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      register
    </button> or <a href="{% url 'login' %}">login</a>
  {% endbuttons %}
</form>
</div>
</div>

<script type="text/javascript">
  document.getElementById('id_username').focus()
</script>

{% endblock %}