{% extends '_base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block style_head %}body {background-color:#efefef; margin-top:60px}{% endblock %}
{% block content %}

<div class="row">
<div class="col-md-4 col-md-offset-4 drop-shadow-c">
<form action="" method="post" id="login-form" class="form reg-form">
  {% csrf_token %}
  <p class="lead">
    Create an account so you can volunteer for survey collections
  </p>
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      register
    </button> or <a href="{% url 'login' %}">login</a>
  {% endbuttons %}
</form>
</div>
</div>
<script type="text/javascript">
  document.getElementById('id_username').focus();
  document.getElementById('id_username').placeholder = "(lowercase only please)";
  document.getElementById('id_username').title = "Required. 30 characters or fewer. Lowercase letters, digits and @/./+/-/_ only";
  document.getElementsByClassName('help-block')[0].innerHTML =  "Required. 30 characters or fewer. Lowercase letters, digits and @/./+/-/_ only";

  document.getElementById('id_username').oninput=function() {
    document.getElementById('id_username').value = document.getElementById('id_username').value.toLowerCase();};



</script>


{% endblock %}

