{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- External libs -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/flat-ui.css' %}" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    -->
    <link rel="stylesheet" href="{% static 'css/bikecounter.css' %}" />
    <!--
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    -->


    <script type="text/javascript">
        {% block js_head %}{% endblock %}

        $(document).ready(function () {
            {% block js_ready %}{% endblock %}
        });
    </script>

    <style>{% block style_head %}{% endblock %}</style>

</head>
<body>
{% if request.path == '/' %}

{% else %}
  {% if user.is_authenticated and request.path != '/login' and request.path != '/register' %}
    {% include '_menu.html' %}
  {% endif %}
{% endif %}
<div class="container">
{% block content %}{% endblock %}
</div>

</body>
</html>