{% extends '_base.html' %}
{% load admin_urls %}
{% block title %}Manage Schedule{% endblock %}
{% block content %}

<div class="row">
  <span class="col-md-6">
  <h3>Manage Schedule</h3>
  </span>
  <span class="col-md-6 text-right">
    <a target="new" href="{% url 'admin:main_appointment_add' %}">
      <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add to schedule
    </a>
  </span>
</div>

<table class="table table-striped">
  <tr><td>Location</td><td>Time</td><td>Assigned To</td></tr>
{% for loc in object_list %}
  <tr><td>{{loc}}</td><td></td><td></td></tr>
  {% for app in loc.appointment_set.all %}
    <tr>
      <td></td>
      <td>{{app.scheduled_start}}</td>
      <td>
        {% if app.user %}
          {{ app.user.email }}
        {% else %}
          <span class="label label-warning"><a target="new" href="{%url 'admin:main_appointment_change' app.pk %}">Unassigned</a></span>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}



