{% extends '_base.html' %}
{% block title %}{{object.name}} Home{% endblock %}
{% block content %}
<h3>{{ object.name }} home</h3>

{% if sessions %}
<h4>My Count Sessions</h4>
  <table class="table table-striped">
  {% if sessions.count != 0 %}
    <tr>
      <th class="col-md-5">Location</th>
      <th>Suggested Date</th>
      <th></th>
    </tr>
  {% endif %}
  {% for s in sessions %}
    <tr>
      <td>{{ s.location }}</td>
      <td>{{ s.scheduled_start }}</td>
      <td>
        {% if s.actual_end %}
          <a href="{% url 'appt-detail' s.organization.slug s.pk %}">
          Completed - {{ s.actual_end|date:"SHORT_DATE_FORMAT" }}
          </a>
          <!-- - {{ s.time_taken_in_min }}-->
        {% else %}
          <input type="button" class="btn btn-primary" value="Cancel" onclick="document.location='{% url 'appt-cancel' s.organization.slug s.pk %}'">
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}

<h4>Sign Up for a Count Session</h4>
  {% if sessions.count >= 20000 %}
    <div class="alert alert-success" role="alert">You are signed up for 2 sessions.  Thanks!</div>
  {% endif %}
  <table class="table table-striped">
  {% if unassigned.length != 0 %}
    <tr>
      <th class="col-md-5">Location</th>
      <th>Suggested Date</th>
      <th></th>
    </tr>
  {% endif %}
  {% for s in unassigned %}
    <tr>
      <td>{{ s.location }}</td>
      <td>{{ s.scheduled_start }}</td>
      <td>
        {% if sessions.count < 20000 %}
          <input type="button" class="btn btn-primary" value="Signup" onclick="document.location='{% url 'appt-signup' s.organization.slug s.pk %}'">
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>

<hr>

<h4>(Admin function) See all count sessions</h4>
  <form>
  {% csrf_token %}
  <table class="table table-striped">
    <tr>
      <th class="col-md-5">Location</th>
      <th>Suggested Date</th>
      <th>User</th>
      <th>Status</th>
      <th></th>
    </tr>
  {% for s in all %}
    <tr>
      <td>{{ s.location }}</td>
      <td>{{ s.scheduled_start }}</td>
      <td>{{ s.user }}</td>
      <td><span id="rst_span_{{s.id}}">{{ s.status }}</span></td>
      <td>
        {% if s.actual_end %}
          {{ s.survey_set.all.count }}
          <input id="rst_btn_{{s.id}}" type="button" class="btn btn-primary" value="Reset" onclick="reset_appt({{s.id}})">
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
  </form>
{% endblock %}



