	{% extends '_base.html' %}
{% load admin_urls %}
{% block title %} Export Data to CSV File{% endblock %}
{% block content %}


  <ol class="breadcrumb">
    <li><a href="{% url 'org_home' request.current_org %}">Home</a></li>
    <li><a href="{% url 'reports' request.current_org %}">Reports</a></li>
  </ol>

  <h3>{{ org.name }} Export Data to CSV File</h3>

 <body>
    <br>

    <form action="" method="post">
        <fieldset class="form-group">
        {% csrf_token %}
        {{form }}
       <!-- {{ form.year_selection}}
        {{ form.appt_selection}} -->


        <input id="csvSubmitButton" class="btn btn-primary" type="submit" value="Generate CSV File" disabled />





        </fieldset>
	</form>





 </body>

{% endblock %}


