{% extends '_base.html' %}
{% load admin_urls %}
{% block title %}Location Report{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li><a href="{% url 'org_home' request.current_org %}">Home</a></li>
    <li><a href="{% url 'reports' request.current_org %}">Reports</a></li>
  </ol>

  <h3>{{ org.name }} Locations</h3>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Location</th>
      <th>Enabled</th>
      <th>Type</th>
      <th>Dir1</th>
      <th>Dir1Label</th>
      <th>Dir2</th>
      <th>Dir2Label</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  {% for loc in org.location_set.all %}
    <tr>
        <td>{{ loc }}</td>
        <td>{{ loc.enabled }}</td>
        <td>{{ loc.type }}</td>
        <td>{{ loc.direction1|default:"" }}</td>
        <td>{{ loc.direction1_label|default:"" }}</td>
        <td>{{ loc.direction2|default:"" }}</td>
        <td>{{ loc.direction2_label|default:"" }}</td>
        <td>
          <a target="new" href="{%url 'admin:main_location_change' loc.pk %}">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-new-window"></span></button>
          </a>
        </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>

{% endblock %}



