{% extends '_base.html' %}
{% load admin_urls %}
{% block title %} Annual Bike Count Completion Tracker{% endblock %}
{% block content %}


  <ol class="breadcrumb">
    <li><a href="{% url 'org_home' request.current_org %}">Home</a></li>
    <li><a href="{% url 'reports' request.current_org %}">Reports</a></li>
  </ol>

  <h3>{{ org.name }} Annual Bike Count Completion Tracker</h3>
 <table class="table table-striped">
  <tr><td>Location</td><td>Suggested Time</td><td>Assigned To</td></tr>
{% for loc in object_list %}
  <tr><td>{{loc.name}}</td><td></td><td></td></tr>
  {% for app in loc.appointment_set.all %}
    <tr>
      <td></td>
      <td>{{app.scheduled_start}}</td>
      <td>
        {% if app.user %}
          {{ app.user.email }}
        {% else %}
          <span class="label label-warning"><a target="new" href="{%url 'admin:main_appointment_change' app.pk %}">Unassigned</a></span>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}


