body {
    background-color: #C9E6ED;
    margin-top:0px;
}

div.row {
    background-color: #fff;
}

div.appcontainer {
    padding-top:5px;
    padding-bottom: 5px;
}

h1, h2, h3, h4 {
    color: #e05a31;
}

a {
    font-size: 18px;
    line-height: 28px;
    color: #4ea1b4;
}

.img-event {
    width: 80px;
    height: 80px;
}

.btn {
    color: #fff;
    background-color: #b28585;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 50px;
}

.btn-nav {
    margin-top:2px;
    padding-top:4px;
    padding-bottom:4px;
}

input[type="button"]:disabled {
    background-color: #999999;
}

.btn-primary {
    background-color: #e05a31;
    border-color: #d0b0b5;
}

.btn-val.active, .btn-val:hover {
    color: #ffffff;
    background-color: #e05a31;
    border-color: #e05a31;
}

.btn-group {
    margin-bottom:10px;
}

.btn-event {
    background-color: #3d78d1;
}

div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}