git+git://github.com/django/django.git@78bff08341cfd5b729697c13a7478e83726782d1
django-bootstrap3==3.3.0
django-debug-toolbar==1.0.1
django-filter==0.7
django-model-utils==2.0.2
djangorestframework==2.3.13
gspread==0.1.0
wsgiref==0.1.2
